---
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} @ OWL Resources</title>
  <style>
    body {background: url({{ "openwork_pattern_blue.png" | relative_url }});}
    main {background: #fffd; max-width: 900px; margin: 5px auto;}
    h1 {font-size: 64px; text-align: center;}
    a:link {color: #00B097;}
    a:visited {color: #F1B434;}
    a:active, a:hover {color: #F28507;}
  </style>
  <link rel="icon" src="{{ "openwork_avatar_black.png" | relative_url }}" />
</head>
<body><main>
  <h1><a href="{{site.baseurl}}"><img width="64" src="{{ "openwork_avatar_black.png" | relative_url }}" /></a>
    OWL Resources</h1>
  {{ content }}
</main></body>
</html>
